{% extends 'base.html' %}
{% block content %}

{% if ticker %}
    {{ ticker }}
{% endif %}

{% if api %}
    {% if api == "Error..." %}
        There was a problem with your ticket symbol, please try again...
    {% else %}
        <h1>{{ api.companyName }}</h1>
        Ticker: {{ api.symbol }}<br/>
        Price: ${{ api.latestPrice }}<br/>
        Previous Close: {{ api.previousClose }}<br/>
        Market Cap: {{ api.marketCap }}<br/>
        YTD Change: {{ api.ytdChange }}<br/>
        52Wk High: {{ api.week52High }}<br/>
        52Wk Low: {{ api.week52Low }}<br/>
        <br/>
        <h2>News</h2>
        {% for news in api_news %}
        <div class="hstack gap-2 pb-1">
            <div class="col-md-8">
                <p class="fw-bold"> <a href="{{ news.url }}">{{ news.headline }}</a></p>
            <p>{{ news.summary }}</p>
            </div>    
            <div>
                <img src="{{ news.image }}" alt="image" style="width:200px">
            </div>
        </div>
        {% endfor %}

    {% endif %}
{% endif %}

{% endblock %}